body {
  background-color: #1f2224;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

a:link { color: #9b24b3; }
a:visited { color: #4fd9f6; }
a:hover { color: red; text-decoration: underline; }

.darkToggle {
  float: right;
  margin-right: 2em;
  margin-top: 0.5em;
}

.ledpixel {
  display:table-cell;
  position: relative;
  margin: 0em;
  border:1px solid gray;
  min-width: 3em;
  height: 3em;
  text-align: right;
  vertical-align: bottom;
  background-image: url("ws2812.png");
  background-size: 100% 100%;
}

.hiddenPixel {
  display:table-cell;
  position: relative;
  margin: 0em;
  border:1px solid gray;
  min-width: 3em;
  height: 3em;
  text-align: right;
  vertical-align: bottom;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("ws2812.png");
  background-size: 100% 100%;
}

.disabledPixel {
  display:table-cell;
  position: relative;
  margin: 0em;
  border:1px solid gray;
  min-width: 3em;
  height: 3em;
  text-align: center;
  vertical-align: bottom;
}

.ledtext {
  display:inline-block;
  position: absolute;
  right:0;
  bottom:0;
  color: white;
  font-size: 0.75em;
  line-height: 1em;
  border: none;
  border-radius: 0.5em 0 0 0;
  font-family: sans-serif;
  text-align: right;
  background-color: blue;
  padding: 0.25em 0.1em  0.1em 0.25em;
}

.ledarray {
  display: table;
  border-collapse: collapse;
  background-color: black;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ledrow {
  display: table-row;
}

.ylabels {
  display: table-cell;
  border:1px solid gray;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
  min-width: 2em;
  color: white;
  font-family: sans-serif;
}
.xlabels {
  display: table-cell;
  border:1px solid gray;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
  color: white;
  font-family: sans-serif;
}

.triangle-left {
  position:absolute;
  top: 0;
  right:0;
  width:0;
  height:0;
  border-style: solid;
  border-width: 0.5em;
  border-color: transparent #FF0000 transparent transparent;
}

.triangle-right {
  position:absolute;
  top: 0;
  left:0;
  width:0;
  height:0;
  border-style: solid;
  border-width: 0.5em;
  border-color: transparent transparent transparent #00FF00;
}

.triangle-top {
  position:absolute;
  top: 0;
  left:0;
  width:0;
  height:0;
  border-style: solid;
  border-width: 0.5em;
  border-color: #00FF00 transparent transparent transparent;
}

.triangle-bottom {
  position:absolute;
  bottom: 0;
  left:0;
  width:0;
  height:0;
  border-style: solid;
  border-width: 0.5em;
  border-color: transparent transparent #FF0000 transparent;
}

#popupGuide {
  position: absolute;
  display: none;
  margin: 1% auto;
  max-width: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.popupContents {
  max-width: 100%;
  border-style: solid;
  border-width: 0.25em;
  border-color: black;
}

.closeButton {
  position: absolute;
  right: 0;
  z-index: 3;
  color: black;
  font-size: 32px;
  font-weight: bold;
  padding: 0.2em 0.45em;
  background-color: lightgrey;
  border-style: solid;
  border-width: 0.1em;
  border-color: black;
}

.closeButton:hover,
.closeButton:focus {
  color: red;
  cursor: pointer;
}

.controls {
  font-size: 1em;
  margin-bottom: 0.25em;
  
}

.optionBox {
  float: left;
  padding-left: 0.5em;
  margin: 0.25em;
  height: 6em;
}

.ledGrid {
  clear: both;
}

.buildBox {
  height: 1.75em;
  line-height: 1.5em;
}

.button {
  width: 8.5em;
  font-size: 1em;
}

.nameBox {
  width: 8em;
  font-size: 1em;
  text-align: center;
  margin-bottom: 0.4em;
}

.inputBox {
  height: 1.75em;
  line-height: 1.5em;
  padding-left: 0.25em;
}

.inputBox input {
  float:left;
  font-size: 1em;
  padding: 0; margin: 0;
  width: 3em;
}

.inputText {
  display:block;
  float:left;
  padding-left: 0.25em;
  width: auto;
}

#rebuildArray {
  font-size: 1em;
  width: 8em;
  float:none;
}

#infoOut {
  background: black;
  color: lime;
  padding: 1em;
}

#result {
  background: black;
  color: lime;
  padding: 1em;
}
